
/* ==========================================================================
Main page styles
========================================================================== */

.panel-box {
    margin-bottom: 20px;
    > .ant-collapse-item {
        > .ant-collapse-header {
            padding-left: 10px;
        }
    }
}
.header-xx{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

.pull-left {
    float: left;
}

.xlj-model-width {
    width: 90% !important;
}

.xlj-content-width{
    width:95%;margin-left:2.5%;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent !important;
}
